@import "global.css";

.archive-content-heading-container {
  display: flex;
  align-items: center;
  max-width: 1640px;
  margin: 0 auto;
}

.archive-content-filter-sort {
  padding: 20px;
}

.archive-content-heading-container-divider {
  height: 25px;
  width: 2px;
  background-color: black;
}

.post-cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1640px;
  margin: 0 auto;
}

.post-card {
  width: 20%;
}

.post-card-header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.archive-content-container h2 {
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
}

.post-card-img {
  margin: 0;
  padding: 20px;
}

.post-card-img img {
  width: 100%;
}

.post-card-text {
  padding: 0 20px;
}

.post-card-button-container {
  text-align: right;
  padding: 20px;
}

.read-more-button {
  color: white;
  margin-top: 20px;
  padding: 10px;
  background-color: #1d6753;
}

.read-more-button:hover {
  border: 2px solid black;
  padding: 8px;
  color: white;
}

@media only screen and (max-width: 1410px) {
  .post-card {
    width: 25%;
  }
}

@media only screen and (max-width: 1100px) {
  .post-card {
    width: 33%;
  }
}

@media only screen and (max-width: 870px) {
  .post-card {
    width: 50%;
  }
}

@media only screen and (max-width: 590px) {
  .post-card {
    width: 100%;
  }
  .post-cards-container {
    flex-direction: column;
  }
}
