@import "global.css";

.archive-content-container {
  margin: 0 auto;
  text-align: center;
}

.archive-content-heading-container {
  display: flex;
  align-items: center;
  max-width: 1640px;
  margin: 0 auto;
}

.archive-content-filter-sort {
  padding: 20px;
  text-decoration: line-through;
}

.archive-content-heading-container-divider {
  height: 25px;
  width: 2px;
  background-color: black;
}

.post-cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1640px;
  margin: 30px auto 0 auto;
}

.post-card {
  width: 25%;
  margin-bottom: 30px;
}

.post-card-header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.archive-content-container h2 {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  color: #1d6753;
}

.post-card-img {
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
}

.post-card-img img {
  width: 100%;
}

.post-card-text {
  padding: 0 20px;
  text-align: left;
}

.show-more-posts-button {
  margin: 30px 0 30px 0;
  color: white;
  padding: 10px;
  background-color: var(--button-color);
}

.show-more-posts-button:hover {
  border: 2px solid black;
  padding: 8px;
  color: white;
}

@media only screen and (max-width: 1600px) {
  .post-card {
    width: 33%;
  }
}

@media only screen and (max-width: 1150px) {
  .post-card {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .post-card {
    width: 100%;
  }

  .post-card-img {
    height: 100px;
    overflow: hidden;
  }

  .post-cards-container {
    flex-direction: column;
  }
}
