@import "global.css";

.archive-content-container {
  margin: 0 auto;
  text-align: center;
}

.archive-content-heading-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.archive-content-heading-container h2 {
  margin-bottom: 0; /* Overriding global value*/
}

.archive-content-filter-sort {
  padding: 20px;
  text-decoration: line-through;
}

.archive-content-sort {
  display: flex;
  padding-left: 20px;
}

.sort-new-to-old {
  font-weight: bold;
  margin-right: 1px;
}

.sort-old-to-new {
  font-weight: normal;
  margin-left: 3px;
  cursor: pointer;
}

.post-cards-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1640px;
  margin: 70px auto 0 auto;
}

.post-card {
  width: 25%;
  margin-bottom: 30px;
}

.post-card-header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.post-card-header-container h3 {
  padding: 0;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}

.post-card-img {
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
}

.post-card-img img {
  width: 100%;
}

.post-card-text {
  padding: 0 20px;
  text-align: left;
}

.show-more-posts-button {
  margin: 30px 0 30px 0;
  color: var(--button-font-color);
  padding: 10px;
  background-color: var(--button-color);
}

.show-more-posts-button:hover {
  border: 2px solid black;
  padding: 8px;
  color: var(--button-font-color);
}

@media only screen and (max-width: 1600px) {
  .post-card {
    width: 33%;
  }
}

@media only screen and (max-width: 1150px) {
  .post-card {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .post-card {
    width: 100%;
  }

  .post-card-img {
    height: 100px;
    overflow: hidden;
  }

  .post-cards-container {
    flex-direction: column;
  }
}
