@import "global.css";

.contact-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
/*
.contact-container h2 {
  padding-left: 0; /* Override the global value
} */

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 5%;
  padding: 20px;
}

.form-fields-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 355px;
}

.form-fields-container label {
  margin: 20px 0 5px 0;
}

.form-fields-label-container {
  display: flex;
  justify-content: space-between;
}

.form-validation-message {
  margin-top: 20px;
  display: none;
}

.form-validation-message {
  color: var(--form-validation-message-color);
}

.form-textarea-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 355px;
  max-height: 600px;
  min-height: 400px;
}

textarea {
  margin: 0;
  padding: 0;
  height: 300px;
}

.form-textarea-container label {
  margin: 20px 0 5px 0;
}

.form-textarea-container button {
  margin-top: 20px;
  color: var(--button-font-color);
  padding: 10px;
  background-color: var(--button-color);
  align-self: flex-start;
}

.form-textarea-container button:hover {
  border: 2px solid var(--border-color);
  padding: 8px;
}

.form-success-message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: none;
}

.form-success-message {
  font-size: 2rem;
  color: var(--success-message-color);
  font-weight: bold;
  padding: 10px;
}

/* Media Queries */

@media only screen and (max-width: 400px) {
  form {
    padding: 0;
  }
}
