@import "global.css";

.home-content-container {
  display: flex;
  margin: 50px 5% 50px 5%;
  gap: 20px;
}

.home-image {
  width: 50%;
  margin: 0;
}

.home-image img {
  width: 100%;
}

.home-text {
  width: 50%;
}

.home-text-heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1%;
  top: 50%;
}

.left-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
  opacity: 0.5;
  position: relative;
  right: 5px;
}

.left-circle {
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  opacity: 0.5;
  position: absolute;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1%;
  top: 50%;
}

.forward-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 1%;
  top: 50%;
}

.right-arrow {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  opacity: 0.5;
  position: relative;
  left: 5px;
}

.right-circle {
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  opacity: 0.5;
  position: absolute;
}

/* Media Queries*/

@media only screen and (max-width: 810px) {
  .home-content-container {
    flex-direction: column;
    gap: 0px;
    margin-top: 15px;
  }

  .home-image {
    width: 100%;
  }

  .home-text {
    width: 100%;
  }

  .right-arrow {
    right: 1%;
  }

  .left-arrow {
    left: 1%;
  }
}

@media only screen and (max-width: 630px) {
  .right-arrow {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 16px solid #1d6753;
  }

  .left-arrow {
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid #1d6753;
  }
}
