@import "global.css";

.home-content-container {
  margin: 50px auto 50px auto;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 90%;
  min-width: 800px;
  max-width: 1200px;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.home-content-container::-webkit-scrollbar {
  display: none; /* Chrome & Brave) */
}

.slide {
  display: flex;
  min-width: 100%;
}

.home-image {
  width: 50%;
  padding: 20px;
  margin: 0;
}

.home-image img {
  width: 100%;
}

.home-text {
  width: 50%;
  padding: 20px;
}

.home-text h2 {
  margin-top: 0;
}

.home-text-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.back-button {
  display: none;
  position: fixed;
  left: 1%;
  top: 45%;
  padding: 0;
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid black;
  opacity: 0.5;
}

.forward-button {
  display: flex;
  position: fixed;
  right: 1%;
  top: 45%;
  padding: 0;
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid black;
  opacity: 0.5;
}

.forward-button:hover,
.back-button:hover {
  opacity: 1;
}

/* Media Queries*/
/*
@media only screen and (max-width: 810px) {
  .slide {
    flex-direction: column;
  }
}*/

@media only screen and (max-width: 630px) {
  .right-arrow {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid black;
    right: -4px;
  }

  .left-arrow {
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid black;
    left: -4px;
  }

  .back-button,
  .forward-button {
    width: 32px;
    height: 32px;
    top: 35%;
  }
}
