@import "global.css";

.single-post-container {
  margin: 50px 5% 0 5%;
  display: flex;
  align-items: center; /* Dont remove - Modal needs it */
  justify-content: center; /* Dont remove - Modal needs it */
}

.single-post-content-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 auto;
  max-width: 840px;
}

.single-post-heading-container {
  width: 100%;
}

.single-post-heading-container h2 {
  color: #1d6753;
  margin: 0 0 0 240px;
}
.single-post-heading-container h3 {
  font-weight: normal;
  margin: 0 0 0 240px;
}

.single-post-content {
  display: flex;
  gap: 40px;
}

.single-post-images-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.single-post-image {
  margin: 0;
  height: 200px;
  overflow: hidden;
}

.single-post-image-img {
  width: 200px;
  cursor: pointer;
}

.single-post-image-img:hover {
  opacity: 0.7;
}

.single-post-text-container {
  max-width: 600px;
}

.single-post-text-container p {
  margin: 0;
}

/* Modal */

.modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal img {
  width: 50%;
}

@media only screen and (max-width: 720px) {
  .single-post-heading-container h2,
  .single-post-heading-container h3 {
    margin: 0;
  }

  .single-post-content-container {
    margin: 0 auto;
  }

  .single-post-content {
    flex-direction: column;
  }

  .single-post-images-container {
    flex-direction: row;
    width: 100%;
  }

  .single-post-image {
    height: 100%;
  }

  .single-post-image-img {
    width: 100%;
  }

  .single-post-text-container {
    max-width: none;
  }

  .modal img {
    width: 100%;
  }
}
